<form class="admin" method="post" action="/wp-admin/admin.php?page=git-update">
    <header>
        <h1>Git Update</h1>
        <label for="update-interval">Auto update: </label>
        <input type="checkbox" name="settings[enable]" {{#settings.autoUpdate}}enabled{{/settings.autoUpdate}}>
        <button type="submit" class="btn btn-primary">Save</button>
    </header>
    <table class="plugins">
        <thead>
        <th class="enable">Enable</th>
        <th>Plugin</th>
        <th class="repository">Repository</th>
        <th></th>
        <th>Last Updated</th>
        <th>Actions</th>
        </thead>
        {{#plugins}}
            <tr class="plugin">
                <td class="enable">
                    <input type="checkbox" name="{{name}}[enable]" {{enable}}>
                </td>
                <td>
                    <label class="name">
                        {{name}}
                    </label>
                </td>
                <td class="repository">
                    <input class="repository" name="{{name}}[repository]" placeholder="repository"
                           value="{{repository}}">
                </td>
                <td>
                    <select name="{{name}}[branch]" class="branch">
                        {{#branches}}
                            <option value="{{.}}">{{.}}</option>
                        {{/branches}}
                    </select>
                </td>
                <td>
                    <label class="last-updated">
                        {{lastUpdated}}
                    </label>
                </td>
                <td>
                    <div class="actions">

                    </div>
                </td>

            </tr>
        {{/plugins}}
    </table>
</form>